.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: silver;
  color: white;
  padding-top: 5px;
}
a {
  display: flex;
  color: white;
  list-style: none;
  padding-left: 12px;
  padding-right: 12px;
}
.container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  border-bottom: solid 2px silver;
}
.nav-container {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-item .icon {
  margin-right: 8px;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-item:active {
  background-color: #e0e0e0;
}

.section_one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.section_two {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 20px;
}
.navigation ul {
  color: white;
  display: flex;
}
.Logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
  padding-right: 20px;
}
